body {
  font-family: 'Raleway', arial, sans-serif;
  color: #292f33;
  position: relative;
}

header {
  position: fixed;
}

.navbar {
  display: none;
}

#navbar {
  background: rgba(255, 255, 255, 0.95);
}

#navbar ul {
  margin: 4px 0 0 10px;
}

.navbar_contact_link img {
  height: 35px;
  width: auto;
  margin: 5px 0 0 5px;
  opacity: 0.75;
}

#landing {
  background-image: url("images/landing_background.jpg");
  background-attachment: fixed;
}

.background_image {
  background-position: center;
  background-size: cover;
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#landing_info {
  padding-top: 35vh;
}

#landing_logo {
  height: 180px;
  margin: 0 auto;
  display: block;
  opacity: 0;
}

#landing_tag {
  font-size: 3em;
  padding-top: 1.5vh;
  text-align: center;
  color: #f6f6f6;
}

.font_color_blue {
  color: #1571b2;
}

.color_white {
  color: white;
  border-color: white !important;
}

.web_section {
  padding-bottom: 60px;
}

#original_tag {
  display: none;
}

#sticking_tag {
  display: none;
}

.section_title {
  font-size: 2em;
  text-align: center;
  margin: 40px 0;
}

.title_line_border {
  position: relative;
  top: 60px;
  border-bottom: 1px #1571b2 dotted;
  width: 30%;
}

.title_right {
  float: right;
}

#face {
  height: 500px;
  width: auto;
  margin: -40px 40px 0 0;
  float: left;
}

#about_me {
  height: 1340px;
}

#about_me_row {
  margin: 0px;
}

#about_me_text {
  margin: 40px 0px;
}

#about_me h4 {
  color: #1571b2;
  margin-top: 20px;
}


#my_background_text {
  padding-right: 50px;
}

#skills_list {
  background-color: #1571b2;
  height: auto;
  color: white;
  padding: 0px 15px;
}

#skills_list h4 {
  color: white;
  text-align: justify;
}

#skills_list img {
  height: 40px;
  width: auto;
  position: absolute;
  left: -50px;
  top: 5px;
}

#skills_list li {
  list-style: none;
  margin: 8px 0 0 10px;
  position: relative;
}

#projects {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),
    url("images/projects_background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  color: white;
  padding-bottom: 30px;
}

#projects a, a:link, a:hover, a:visited, a:after {
  color: white;
}

.project_box {
  margin-bottom: 30px;
  border: 2px white solid;
  opacity: 0.85;
  text-align: center;
  filter: grayscale(20%);
}

.project_text {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  width: 90%;
  opacity: 1;
}

.project_box:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 55%;
  opacity: 0.6;
  bottom: 7%;
}

#Kellys_World_Adventures {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #1bb0ce;
}

#Kellys_World_Adventures:before {
  background-image: url("images/professional_projects/kellys_world_adventures_logo.png");
  background-size: auto 30%;
}

#Kelly_Daniels_Photography {
  background:
    linear-gradient(
    rgba(120, 120, 120, 0.4),
    rgba(120, 120, 120, 0.4)),
    #444444;
}

#Kelly_Daniels_Photography:before {
  background-image: url("images/professional_projects/kelly_daniels_photography_logo.png");
  background-size: auto 35%;
}

#Dean_Webb_Developer {
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)),
  #1571b2;
}

#Dean_Webb_Developer:before {
  background-image: url("images/personal_projects/dean_webb_developer_logo.png");
  background-size: auto 35%;
}

#Dean_Webb_Blogging {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #c83737;
}

#Dean_Webb_Blogging:before {
  background-image: url("images/personal_projects/dean_webb_blogging_logo.png");
  background-size: auto 35%;
}

#HTML5 {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #e44d26;
}

#HTML5:before {
  background-image: url("images/training_projects/HTML5_logo.png");
}

#CSS3 {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #264de4;
}

#CSS3:before {
  background-image: url("images/training_projects/CSS3_logo.png");
}

#Javascript {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #d6ba32;
}

#Javascript:before {
  background-image: url("images/training_projects/Javascript_logo.png");
}

#jQuery {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #0868ab;
}

#jQuery:before {
  background-image: url("images/training_projects/jQuery_logo.png");
}

#Bootstrap_4 {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),
    #311642;
}

#Bootstrap_4:before {
  background-image: url("images/training_projects/Bootstrap_logo.png");
}

#WordPress {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #464442;
}

#WordPress:before {
  background-image: url("images/training_projects/Wordpress_logo.png");
}

#PHP {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #484c89;
}

#PHP:before {
  background-image: url("images/training_projects/PHP_logo.svg");
  background-size: auto 40%;
}

#mySQL {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #00618a;
}

#mySQL:before {
  background-image: url("images/training_projects/MySQL_logo.svg");
  background-size: auto 38%;
}

#APIs {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #00aced;
}

#APIs:before {
  background-image: url("images/training_projects/API_logo.png");
}

#Mobile_Apps {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #00D7FC;
}

#Mobile_Apps:before {
  background-image: url("images/training_projects/Mobile_Apps_logo.png");
}

#Python {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    #3772a3;
}

#Python:before {
  background-image: url("images/training_projects/Python_logo.png");
}

#contact_me h4 {
  color: #1571b2;
}

.alert {
  padding-top: 20px;
}

#contact_links {
  padding-left: 15px;
}

#contact_me a {
  color: #292f33;
  opacity: 0.85;
}

#contact_me a:hover {
  text-decoration: none;
}

#form_alert {
  float: right;
  width: 450px;
}

.contact_link {
  height: 75px;
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.contact_link img {
  height: 60px;
  width: auto;
  position: relative;
  margin-right: 20px;
}

#dean_webb_blogging_link img {
  height: 160px;
  width: auto;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  opacity: 0.75;
}

.credits {
  margin: 0;
  padding: 20px;
  height: 100%;
  background-color: #292f33;
  color: white;
  font-size: 0.8em;
  text-align: center;
}

.credits a, a:link, a:active, a:after {
  color: white;
}

.credits a:visited {
  color: #c9c9c9;
}

@media screen and (max-width: 1199px) {

  .title_line_border {
    width: 25%;
  }

  #about_me {
    height: 1440px;
  }

  #about_me_text {
    margin: 0  0 40px 0;
  }

  #face {
    margin-top: 0;
  }

  #form_alert {
    width: 360px;
  }

}

@media screen and (max-width: 992px) {

  #landing_logo {
    height: 150px;
  }

  #landing_tag {
    font-size: 2.4em;
  }

  .title_line_border {
    width: 20%;
  }

  #about_me {
    height: 1700px;
  }

  #about_me_row {
    margin-left: 0px;
  }

  #face {
    height: 400px;
    margin: 35px 35px 35px 0;
  }

  #about_me_text {
    margin-bottom: 10px;
  }

  #my_background_text {
    padding: 0;
    margin-bottom: 30px;
  }

  #skills_list img {
    display: none;
  }

  #skills_list li {
    list-style: circle;
    margin-left: -20px;
  }

  #contact_me form {
    margin-bottom: 50px;
  }

  #form_alert {
    width: 600px;
  }

}

@media screen and (max-width: 766px) {

  #navbar_content {
    text-align: center;
  }

  .navbar_contact_links {
    display: none;
  }

  #landing_logo {
    height: 115px;
  }

  #landing_tag {
    font-size: 1.9em;
  }

  .title_line_border {
    display: none;
  }

  #about_me {
    height: 1850px;
  }

  #face {
    display: none;
  }

  #about_me_text {
    background:
      linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)),
      url("images/face.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .title_line_border {
    display:none;
  }

  .section_title {
    padding-top: 30px;
  }

  #dean_webb_blogging_link img {
    height: 120px;
  }

  #form_alert {
    width: 420px;
  }

}

@media screen and (max-width: 575px) {

  #landing_logo {
    height: 85px;
  }

  #landing_tag {
    font-size: 1.4em;
  }

  #about_me {
    height: auto;
  }

  #about_me_row {
    margin: 0 15px;
  }

  .project_box:before {
    display: none;
  }

  .project_box {
    margin-bottom: 12px;
    border-width: 2px;
  }

  .project_text {
    padding-top: 14px;
  }

  .project_description {
    display: none;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  #contact_links span {
    display: none;
  }

  #contact_links {
    text-align: center;
    margin: 0;
  }

  #contact_me {
    margin: 0;
  }

  #form_alert {
    margin-top: 20px;
    float: auto;
    width: auto;
  }

@media screen and (max-width: 320px) {

  #landing_logo {
    height: 70px;
  }

  #landing_tag {
    font-size: 1em;
  }

  #dean_webb_blogging_link img {
    height: 100px;
  }

}
